body {
    background-color: green;
    margin: 0;
}

#top, #bottom, #left, #right {
	background: rgb(65, 36, 10);
	position: fixed;
}

#left, #right {
    top: 0; 
    bottom: 0;
	width: 15px;
}

#left { left: 0; 
}

#right { right: 0; 
}

#top, #bottom {
    left: 0; 
    right: 0;
	height: 15px;
}

#top { top: 0; }

#bottom { bottom: 0; }

#game-surface {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#playerhand, #house {
    background-color: rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 50%;
    text-align: center;
}

.card {
    max-width: 10%;
    max-height: 20%;
}

.card-back {
    background-color: rgba(0,0,0,1);
}


.deckCard, .hole {
    max-width: 100px;
    max-height: 200px;
    border-radius: 5px;
}

#deckcard {
    position: relative;
    left: 0.5%;
}

